src/conf/xml-resources/web-service-references/numberOfSpecialiteWS/wsdl/localhost_8080/numberOfSpecialiteWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="numberOfSpecialite" type="tns:numberOfSpecialite"/>

<xs:element name="numberOfSpecialiteResponse" type="tns:numberOfSpecialiteResponse"/>

<xs:complexType name="numberOfSpecialite">
<xs:sequence>
<xs:element name="specialite" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="numberOfSpecialiteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>